* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  margin: 0;
}

header {
  width: 100%;
  height: 91px;
  background-color: #ffffff;
  margin: 0 auto;
}

main {
  width: 100%;
  height: 640px;
  top: 91px;
  /* border-radius: 5px;
  border-width: 1px;
  background-color: #ffffff;
  border: 1px #DEDEDE solid; */
  margin: 0 auto;
}

.nav-section {
  width: 90%;
  height: 91px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.nav-section a {
  text-decoration: none;
}

.nav-items {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
}

.logo {
  width: 100px;
  height: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.nav-ul {
  width: 361px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.nav-ul li {
  list-style-type: none;
  height: 24px;
}

.nav-ul li:nth-child(1) {
  width: 43px;
}

.nav-ul li:nth-child(2) {
  width: 63px;
  height: 25px;
}

.nav-ul li:nth-child(3) {
  width: 45px;
}

.nav-ul li:nth-child(4) {
  width: 33px;
}

.nav-ul li:nth-child(5) {
  width: 58px;
}

.nav-ul li:nth-child(6) {
  width: 44px;
}

.nav-ul li a {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.nav-ul li select {
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.has-select {
  text-align: center;
  padding-top: 4px;
}

.right-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-link {
  width: 166px;
  height: 24px;
  text-align: center;
}

.login-link span {
  width: 119px;
  height: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #23a6f0;
}

/* Hero Section */

.first-section {
  background-image: url("assets/images/shop-hero-3-product-slide-2.png");
  width: 100%;
  height: 640px;
  text-align: center;
}

.firstsection-content {
  width: 699px;
  height: 330px;
  padding: 40px 0;
  margin: 150px auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstsection-content h1 {
  width: 679px;
  height: 80px;
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin: 25px auto;
  padding: 50px 0;
}

.firstsection-content h4 {
  width: 530px;
  height: 60px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin: 25px auto;
}

.firstsection-content button {
  width: 204px;
  height: 62px;
  border-radius: 5px;
  padding: 15px 40px;
  background-color: #23a6f0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  border: none;
}

.hero-pages {
  max-width: 1027px;
  width: 90%;
  height: 160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hero-page1 {
  width: 62px;
  height: 10px;
  color: #ffffff;
}

.hero-page2 {
  width: 63px;
  height: 10px;
  opacity: 0.5;
  color: #ffffff;
}

/* Items Section */

.second-section {
  width: 100%;
  height: 392px;
  background-color: #fafafa;
}

.second-divsection {
  width: 1084px;
  height: 392px;
  padding: 80px 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.second-div {
  width: 332px;
  height: 232px;
  border: 1px solid #ececec;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 35px;
}

.second-div p {
  width: 100px;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  
}

.second-div h2 {
  width: 94px;
  height: 64px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.second-div h6 {
  width: 86px;
  height: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.item1 {
  background: url("assets/images/media\ bg-cover.png");
}

.item2 {
  background: url("assets/images/apple.png");
}

.item3 {
  background: url("assets/images/meal.png");
}

/* Footer */
footer {
  width: 100%;
  height: 91px;
  margin: 0 auto;
}


/* @media (max-width: 1024px) {
  body {
    width: 1024px;
  }
  .header {
    width: 100%;
  }

  main {
    width: 100%;
  }
} */